{{#*inline "page"}}

{{#with netplay}}
    <h1>Netplay Build</h1>
    <table>
        <tr>
            <td>{{date}}</td>
            <td>{{message}}</td>
        </tr>
        <tr>
            <td><a href="https://github.com/rukai/PF_Sandbox/commit/{{hash}}">{{hash}}</a></td>
            <td>
                {{#if windows}}
                <a href="builds/pfsandbox-{{hash}}-windows.zip" class="btn btn-sm btn-primary">
                    <img src="static/desktop-download.svg">
                    Windows
                </a>
                {{/if}}
                {{#if linux}}
                <a href="builds/pfsandbox-{{hash}}-linux.tar.gz" class="btn btn-sm btn-primary">
                    <img src="static/desktop-download.svg">
                    Linux
                </a>
                {{/if}}
            </td>
        </tr>
    </table>
{{/with}}

<div id="buildlist">
    <h1>Latest Builds</h1>
    <table>
        {{#each builds}}
            <tr>
                <td class="nowrap">{{date}}</td>
                <td class="prewrap">{{message}}</td>
            </tr>
            <tr>
                <td><a href="https://github.com/rukai/PF_Sandbox/commit/{{hash}}">{{hash}}</a></td>
                <td>
                    {{#if windows}}
                    <a href="builds/pfsandbox-{{hash}}-windows.zip" class="btn btn-sm btn-primary">
                        <img src="static/desktop-download.svg">
                        Windows
                    </a>
                    {{/if}}
                    {{#if linux}}
                    <a href="builds/pfsandbox-{{hash}}-linux.tar.gz" class="btn btn-sm btn-primary">
                        <img src="static/desktop-download.svg">
                        Linux
                    </a>
                    {{/if}}
                </td>
            </tr>
            <tr class="row-spacer"></td>
        {{/each}}
    </table>
</div>
{{/inline}}

{{~> base title="PF Sandbox | Builds"~}}
