{{#*inline "page"}}

{{#with netplay}}
    <h1>Netplay Build</h1>
    <table>
        <td>{{date_unix}}</td>
        <td><a href="https://github.com/rukai/PF_Sandbox/commit/{{hash}}">{{revision}}</a></td>
        <td>{{message}}</td>
        <td>
            {{#if windows}}
            <a href="builds/{{hash}}_windows.zip">Windows</a>
            {{/if}}
        </td>
        <td>
            {{#if linux}}
            <a href="builds/{{hash}}_linux.zip">Linux</a>
            {{/if}}
        </td>
    </table>
{{/with}}

<div id="buildlist">
    <h1>Latest Builds</h1>
    <table>
        {{#each builds}}
            <tr>
                <td>{{date_unix}}</td>
                <td><a href="https://github.com/rukai/PF_Sandbox/commit/{{hash}}">{{revision}}</a></td>
                <td>{{message}}</td>
                <td>
                    {{#if windows}}
                    <a href="builds/{{hash}}_windows.zip">Windows</a>
                    {{/if}}
                </td>
                <td>
                    {{#if linux}}
                    <a href="builds/{{hash}}_linux.zip">Linux</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>
{{/inline}}

{{~> base title="PF Sandbox | Builds"~}}
